@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@600;700&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', serif;
}

body {
  color: #23303e;
  font-size: 18px;
  line-height: 1.8rem;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
}